.testimony{overflow: hidden;}
.testimony-title{width: 80%;border-radius: 15px 0px 15px 0px;border-bottom: 4px solid #dedede;border-right: 4px solid #dedede;}
.testimony-description{font-size: 20px;}
.sidebar-newsletter{border-radius: 15px 15px 0px 0px;}
.sidebar-followus{border-radius: 0px 0px 15px 15px;}
.sidebar-followus-icons{justify-content: space-around;}
.blood-view p, .blood-view a, .blood-view b{font-size: 12px;}
.sidebar-donations{border: 2px solid var(--ph-blue);}
.sidebar-donations-select button, .sidebar-donations-select button:hover{border: 1px solid var(--ph-blue);background-color: transparent;color: var(--ph-blue);font-weight: bold;}
.blood-view-image{border: 2px solid var(--ph-blue);}
.sidebar-donate-buttons button{width: 180px;}
.sidebar-recruturs-buttons button{border: 2px solid var(--ph-blue);width: 80%;font-size: 18px;}
.sidebar-ph-header button{width: 50%;font-size: 13px;font-weight: bold;border-radius: 15px 15px 0px 0px;}
.sidebar-ph-search-description{font-size: 10px;}