.head-icons {
  background-color: var(--darkblue);
  width: 80%;
  margin: auto;
}
.head-icons svg {
  color: var(--darkblue);
}
.head-icon {
  background-color: #fff;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 25px;
  position: relative;
  z-index: 2;
}
.pre-head-icons {
  height: 46px;
  background-color: var(--darkblue);
  width: 56px;
  transform: rotate(56deg);
  left: 7%;
  top: -13px;
  position: absolute;
}
.af-head-icons {
  height: 46px;
  background-color: var(--darkblue);
  width: 56px;
  transform: rotate(-56deg);
  right: 7%;
  top: -13px;
  position: absolute;
}

.head-icons-bottom {
  height: 15px;
  width: 86%;
  background-color: var(--darkblue);
  margin: auto;
  margin-top: 8px;
}
.head-icons-bottom-left {
  background-color: var(--darkblue);
  height: 15px;
  width: 29%;
  transform: rotate(55deg);
  top: 0;
  position: absolute;
  left: -12%;
}
.head-icons-bottom-right {
  background-color: var(--darkblue);
  height: 15px;
  width: 29%;
  transform: rotate(-55deg);
  top: 0;
  position: absolute;
  right: -12%;
}
