.container-main {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.container-main-opacity {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.7;
}
.container-form {
  width: 35%;
  margin: 30vmin auto;
  position: relative;
}
.container-form-icon {
  height: 100px;
  width: 100px;
  margin-top: -10vmin;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px -3px 4px 1px #eee;
}
.container-form-icon div {
  font-size: 12px;
  margin-top: -5px;
}
.container-md {
  width: 80% !important;
}
@media only screen and (max-width: 900px) {
  .container-form {
    width: 80% !important;
  }
}
@media only screen and (max-width: 600px) {
  .container-form {
    width: 90% !important;
  }
  .container-md {
    width: 95% !important;
  }
}
