.input-search {
  border: 3px solid var(--darkblue) !important;
}
.ph-header-form {
  position: relative;
}
.ph-header-form svg {
  color: var(--darkblue);
  margin-top: -20px;
  position: absolute;
  top: 25px;
  right: 8px;
}
