.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
}
.preloader-icon {
  text-align: center;
  color: var(--blue);
}
.preloader-icon * {
  margin-top: 22%;
}
