.exp-view{font-size: 14px;position: relative;}
.exo-view-social{position: absolute;width: 40%;bottom: 0;right: 0;border-radius: 30px 0px 0px 0px;border-top: 5px solid #dedede;border-left: 5px solid #dedede;}
