.ph-header {
  background-color: var(--ph-blue);
}
.ph-header-logo {
  color: var(--darkblue);
}
.ph-header-btns button {
  width: 160px;
  font-weight: bold;
}
.ph-header-btns a button:first-child {
  background-color: transparent;
  border: 2px solid white !important;
}
.ph-header-btns a button:last-child {
  color: var(--ph-blue);
  border: none;
}
