.layout-ads-top {
  height: 100px;
  width: 100%;
  background-image: url("/images/ads.png");
}
.layout-ads-left {
  width: 10%;
  position: fixed;
  left: 0;
  height: 100%;
  background-image: url("/images/ads.png");
  top: 0;
}
.layout-ads-right {
  width: 10%;
  position: fixed;
  right: 0;
  height: 100%;
  background-image: url("/images/ads.png");
  top: 0;
}
.layout-ads-center {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* mobile style */
@media only screen and (max-width: 700px) {
  .layout-ads-center {
    width: 100%;
  }
  .layout-ads-left,
  .layout-ads-right {
    display: none;
  }
}
