.ph-navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--ph-blue);
}
.ph-navbar-elem {
  width: calc(100% / 8);
  text-align: center;
  padding: 8px 0px;
  transition: 0.3s;
  font-size: 14px;
}
.ph-navbar-elem:hover {
  background-color: var(--darkblue);
  transition: 0.3s;
}
.ph-navbar-elem.active {
  background-color: var(--darkblue);
}
.ph-navbar-elem a,
.ph-navbar-elem a:hover {
  color: white;
}
.ph-navbar-elem.bars {
  display: none;
}
.ph-navbar-elem-sub {
  z-index: 100;
}
.ph-navbar-elem:hover > .ph-navbar-elem-sub {
  display: block !important;
}

@media only screen and (max-width: 700px) {
  .ph-navbar {
    display: block;
  }
  .ph-navbar-elem.bars {
    display: block !important;
  }
  .ph-navbar-elem {
    display: none;
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
}
