.login-form {
  width: 70%;
  margin: auto;
}
.login-form button {
  font-size: 14px;
}
.login-form span {
  font-size: 12px;
  cursor: pointer;
}
.login-form-fp {
  margin-right: -20%;
}

.register-select-elem {
  border: 3px solid var(--darkblue);
}
.register-nav-icon {
  top: 10px;
  left: 10px;
}

@media only screen and (max-width: 700px) {
  .login-form {
    width: 90%;
  }
}
