.register-form {
  width: 70%;
  margin: auto;
}
.register-form label {
  font-size: 12px;
}
.register-gender-select button {
  border-color: var(--darkblue) !important;
  border-width: 2px !important;
  color: var(--darkblue) !important;
}
.register-gender-select button:hover,
.register-gender-select button.active {
  color: #fff !important;
  background-color: var(--darkblue) !important;
}

/* kkkk */
.register-radio-group {
  font-size: 20px;
}
.register-radio:after {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  top: -7px;
  left: -10px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #aaa;
}
.register-radio:checked:after {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  top: -7px;
  left: -10px;
  position: relative;
  background-color: var(--ph-blue);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--ph-blue);
}

.register-workingday span {
  font-size: 14px;
}
.register-workingday svg {
  cursor: pointer;
}
.register-workingday input {
  height: 22px !important;
  border-color: var(--ph-blue) !important;
}
