.ph-pagination{justify-content: center;}
.ph-pagination div{height: 32px;width: 32px;}
.ph-pagination div.active{transform: scale(1.1);background-color: var(--ph-blue)!important;color: #fff!important;}
.ph-pagination div:hover{transform: scale(1.1);background-color: var(--ph-blue)!important;color: #fff!important;transition: .3s;cursor: pointer;}