.video-view{position: relative;}
.video-view-infos{font-size: 12px;}
.video-view-description{font-size: 14px;}
.video-view-image{position: relative;}
.video-view-image img{border: 3px solid var(--ph-blue);}
.video-view-image span{font-size: 12px;position: absolute;bottom: 5px;right: 5px;}
.video-view-social{border-top: 5px solid #dedede;border-left: 5px solid #dedede;width: 60%;position: absolute;bottom: -.5rem;right: .5rem;border-radius: 30px 0px 0px 0px;}
.video-view-icon{position: absolute;right: 1rem;top: .5rem;}