.article-text {
  text-align: justify;
}
.col-center{float:none;margin: 0 auto;width:100%;}
.article{text-align: left;color: black;}
.tete-article{width:100%;padding: 2%;}
.titre-article{color:rgb(7, 0, 70);text-align: center;margin-bottom: 4px; }
.temps-pub{color: rgb(0, 0, 0);text-align: left;font-size: 15px;margin-bottom: 16px;}
.temps-pub2{color: rgb(0, 0, 0);text-align: right;font-size: 15px;margin-bottom: 16px;}

.social-buttons{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;margin-top: 5px;margin-bottom: 10px;}
.social-buttons__button{margin: 10px 5px 0;}
.social-button{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;outline: none;width: 70px;height: 70px;text-decoration: none;}
.social-button__inner{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;width: calc(100% - 2px);height: calc(100% - 2px);border-radius: 100%;background: #fff;text-align: center;}
.social-button i, .social-button svg{position: relative;z-index: 1;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;font-size: 28px;}
.social-button svg{height: 40%;width: 40%;}
.social-button::after{content: "";position: absolute;top: 0;left: 50%;display: block;width: 0;height: 0;border-radius: 100%;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.social-button:focus, .social-button:hover{color: #fff;}
.social-button:focus::after, .social-button:hover::after{width: 100%;height: 100%;margin-left: -50%;}
.social-button--mail{color: #0072c6;}
.social-button--mail::after{background: #0072c6;}
.social-button--facebook{color: #3b5999;}
.social-button--facebook::after{background: #3b5999;}
.social-button--linkedin{color: #0077b5; }
.social-button--linkedin::after{background: #0077b5;}
.social-button--github{color: #6e5494;}
.social-button--github::after{background: #6e5494;}
.social-button--codepen{color: #212121;}
.social-button--codepen::after{background: #212121;}
.social-button--steam{color: #7da10e; }
.social-button--steam::after{background: #7da10e;}
.social-button--snapchat{color: #eec900;}
.social-button--snapchat::after{background: #eec900;}
.social-button--twitter{color: #55acee;}
.social-button--twitter::after{background: #55acee;}
.social-button--instagram{color: #e4405f;}
.social-button--instagram::after{background: #e4405f;}
.social-button--npmjs{color: #c12127;}
.social-button--npmjs::after{background: #c12127;}
.image-article{width:80%;margin-left:10%;margin-right:10%;margin-bottom: 40px;}

.text-article{width:100%;padding:2%;}
.text-article P{color:rgb(0, 0, 0);justify-content: start;}
.text-article span{text-align: justify;}
.auteur{font-size: 14px;color:black;margin-right: 14px;}
.titre-ligue1-div{width: 100%;margin-top: 15px;margin-bottom: 20px;position: relative;height: 30px;border-bottom: 2px solid;line-height: 32px;padding-right:0px ;color: rgba(51, 122, 183, 0.53);font-size: 16px;}
.titre-ligue1-p{font-size: 21px;color:black;font-weight: bold;}

.gedf-card{margin-bottom: 1.2rem;}
.noborder, .noborder tr, .noborder td{
	border:none!important;
}
.like-dislike, .reagir, .comment{
	transform:scale(1);
	transition: 0.3s;
	width:16px;
	padding-bottom: 10px;
}

.like-dislike :hover, .reagir:hover, .comment:hover{
	transform: scale(1.2);
	color:black;
	transition: .2s;
	cursor: pointer;
}
.like-dislike.active{
	color:black!important;
	font-size: 20px;
}
.shadowbox {
	width: 22em;
	border: 1px solid #333;
	box-shadow: 2px 2px 2px #444;
	padding: 8px 12px;
	background-image: linear-gradient(180deg, rgb(248, 122, 122), #ddd 40%, rgb(120, 219, 236));
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
