.mydashboard-filter ul li{font-size: 13px;color: #ccc;cursor: pointer;font-weight: 500;}
.mydashboard-filter{height: 87vmin;}
.bton { position: 'fixed'; top: '15px'; right: '15px'; color: #ccc; margin-top: 100px; }
.colstyle {background-color: '#f9f9f9'; }
