.mydashboard-right {
  width: 90%;
  margin-top: 88px;
  min-height: 80vmin;
}
.dashboard-inbox-container {
  width: 60%;
  margin: auto;
}
.dashboard-inbox-header {
  border-bottom: 1px solid #eee;
}
.mydashboard-filter-fixed.inbox {
  border-top: 1px solid #eee;
  margin-top: 67px !important;
}
.dashboard-inbox-header h4 {
  cursor: pointer;
}
.dashboard-inbox-header h4.active {
  border-bottom: 2px solid var(--darkblue) !important;
  color: var(--darkblue) !important;
}
.dashboard-inbox-message-subject {
  font-size: 12px;
  color: #ccc;
}
.dashboard-inbox-message-label {
  font-size: 12px;
}
.dashboard-inbox-message {
  border-left: 4px solid var(--ph-blue);
  padding: 6px 8px;
}
.mydashboard-filter ul li {
  font-size: 13px;
  color: #ccc;
  cursor: pointer;
  font-weight: 500;
}
.mydashboard-filter {
  height: 87vmin;
}
