/* style variables */
:root {
  --ph-blue: #009abb;
  --darkblue: #007c92;
}
/* generale style */
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9 !important;
}
a,
a:hover {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

/* animation */
@keyframes ld-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ld-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ld.ld-spin {
  -webkit-animation: ld-spin 1s infinite;
  animation: ld-spin 1s infinite;
}

/* generale classes */
.text-blue {
  color: var(--ph-blue) !important;
}
.text-darkblue {
  color: var(--darkblue);
}

.bg-blue,
.btn-blue {
  background-color: var(--ph-blue) !important;
}
.bg-darkblue,
.btn-darkblue {
  background-color: var(--darkblue) !important;
}
.btn-blue,
.btn-darkblue {
  color: #fff !important;
}
.bg-ddd {
  background-color: #ddd !important;
}
.text-ddd {
  color: #ddd !important;
}
.border-ddd {
  border-color: #ddd;
  border-style: solid;
}
.text-ccc {
  color: #ccc !important;
}

/* borders */
.rounded-15 {
  border-radius: 15px !important;
}
.rounded-12 {
  border-radius: 12px !important;
}
.border-blue {
  border-color: var(--ph-blue) !important;
  border-style: solid;
}
.border-3 {
  border-width: 3px !important;
}
.border-2 {
  border-width: 2px !important;
}
.border-1 {
  border-width: 1px !important;
}

/* font sizes */
.font-size-10 {
  font-size: 10px !important;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-18 {
  font-size: 18px !important;
}

/* scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ph-blue);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

/* modals style */
.modal-content {
  border-radius: 15px !important;
  border: none !important;
}

