.journal-apercu .mybtn.download{position: absolute;width:48px;height:48px;opacity: 0;}
.journal-apercu .mybtn.read{position: absolute;width:48px;height:48px;opacity: 0;}
.journal-apercu-overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, .6));;opacity:0;transition: 0.2s}
.journal-apercu a.mybtn:hover{transform: scale(1.15); transition: 0.3s;}
.journal-apercu img{width: 80%;height: auto;}
.journal-apercu a{color:rgb(240, 240, 240);font-size: 16px;}
.journal-apercu a:hover{color:rgb(0, 0, 0);transition: 0.3s;}
.journal-apercu .mybtn img{width:100%;height:100%;filter: invert(100);}
.journal-apercu .buttons-row{top:64%;width:98%;}


.journal-date a{color:rgb(100, 100, 100)!important;transition: .1s;}
.journal-date a:hover{text-decoration: none; color:black!important;transition:.2s;}
.journal-datepicker button:focus{outline:0}

.pagination a{color: var(--blue-color);font-weight: 500;}
.pagination a:hover{color: var(--blue-color);}
.pagination .active a{background-color: var(--blue-color)!important; border-color: var(--blue-color)!important;}
.pagination ul{margin-left: auto;margin-right: auto;margin-top: 28px;margin-bottom: 40px;}
.page-item:first-child .page-link {margin-left: 0;border-top-left-radius: 0.5rem;border-bottom-left-radius: .5rem;}
.page-item:last-child .page-link {border-top-right-radius: .5rem;border-bottom-right-radius: .5rem;}

.myDatePicker input{box-shadow: 0px 2px rgba(99, 99, 99, 0.671); font-weight: 500; color:rgb(90, 90, 90); text-align: center; border-style: solid;border-width: 2px; border-color: rgba(161, 161, 161, 0.308);border-radius: 4px 4px 4px 4px;}
.myDatePicker .react-datepicker__header{background: var(--blue-color);opacity: .85;}
.myDatePicker *:focus{outline:0}

@media only screen and (max-width: 700px)
{
	.journal-search-icon{position: relative;z-index: 100;left: 93%;top: -3px;}
	.react-datepicker-wrapper{position: absolute;left: 4%;top: -7px;width: 92%;}
}
.sidebar-newspaper-container, .sidebar-newspaper-buttons{background-color: #2a2a2a!important;}
.dropdown-item:focus, .dropdown-item:hover{background-color: #3c3c3c!important;}
.sidebar-newspaper-title{width: 80%;margin: auto;}
.sidebar-newspaper-title small{font-size: 12px;}
.cadre{
	border:2px solid rgb(0, 172, 240);
	margin:5px;
}
