.article-apercu-row{margin-bottom: 16px;box-shadow: 1px 1px 4px #a2a2a2}
.article-apercu-row:hover{box-shadow: 1px 1px 4px #5d5d5d;transition: 0.4s;}
.label-article{width:100%;height: 28px;background: #1d70b7;color:white;margin-top:2px;}
.text-darkblue{color: rgb(7, 0, 70);}
.label{width:100%;height: 28px;background: #1d70b7;color:white;margin-top:2px;}
.home-news-sm{box-shadow: 1px 1px 4px rgb(196, 181, 181);}
.home-news-img span{position: absolute;bottom: 0;left: 0;width: 100%;background-color: var(--info);padding: 0px 8px;color: white;}

