.home-news-sm{box-shadow: 1px 1px 4px rgb(196, 181, 181);}
.home-news-sm:hover{box-shadow: 0px 0px 4px 0px grey;transition: .4s;}
.home-news-img span{position: absolute;bottom: 0;left: 0;width: 100%;background-color: var(--info);padding: 0px 8px;color: white;}
.home-news-title{padding-top: 12px;}