.ph-top_title{border-radius: 0px 0px 15px 15px;font-weight: bold;font-size: 30px;}

.input-tag {border: 1px solid #d6d6d6;border-radius: 2px;flex-wrap: wrap;padding: 5px 5px 0;height: 150px;}
.input-tag input, .input-tag input:focus{outline: none!important;box-shadow: none!important;border: none!important;}
.input-tag__tags {display: inline-flex;flex-wrap: wrap;margin: 0;padding: 0;width: 100%;height: 20px;}
.input-tag__tags li {align-items: center;font-weight: 300;list-style: none;margin-bottom: 5px;margin-right: 5px;padding: 5px 10px;}
.input-tag__tags li button {background-color: transparent;align-items: center;-webkit-appearance: none;-moz-appearance: none;appearance: none;border: none;border-radius: 50%;color: white;cursor: pointer;display: inline-flex;font-size: 12px;height: 15px;justify-content: center;line-height: 0;margin-left: 8px;-webkit-transform: rotate(45deg);transform: rotate(45deg);width: 15px;}
.input-tag__tags li.input-tag__tags__input {background: none;padding: 0;}
