.titre-ligue1-div{margin-top: 15px;margin-bottom: 20px;position: relative;height: 30px;border-bottom: 2px solid;line-height: 32px;padding-right:0px ;color: rgba(51, 122, 183, 0.53);font-size: 16px;font-weight: bold;}
.titre-ligue1-span{font-size: 21px;color:black;font-weight: bold ;}

.score-table{margin-top: 0px;margin-bottom: 8px;border-bottom: 1px solid rgba(238, 238, 238, 0.39);padding-bottom: 13px;}
.classement-text {box-shadow: 1px 1px 5px #eee;padding: 0px;padding-top: 0px;padding-bottom: 0px;}
.classement-text{box-shadow: 1px 1px 5px #eee;padding: 0px;padding-top: 0px;padding-bottom: 0px;}
.classement-text p{padding-top: 5px;text-alin: left;font-size: 15p;}
.classement-premier{border-left: 2px solid #35f31b;}
.myButt{outline: none;border: none;padding: 10px;display: block;cursor: pointer;font-size: 16px;background-color: transparent;position: relative;border: 2px solid rgb(58, 58, 58);transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;}
.one{border-color: rgb(44, 44, 44);overflow: hidden;color: rgb(0, 0, 0);}
.one .insider{background-color: rgb(0, 0, 0);width: 100%;height: 20px;position: absolute;left: -135px;transform: rotateZ(45deg);-webkit-transform: rotateZ(45deg);-moz-transform: rotateZ(45deg);-o-transform: rotateZ(45deg);-ms-transform: rotateZ(45deg);}
.one:hover {
	background-color: #f44336;
	border-color: #fff;
	color: #fff;
}
.one:hover .insider {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	left: 135px;
}