.job-view {
  position: relative;
  cursor: pointer;
}
.job-view-title {
  color: var(--ph-blue);
  font-size: 22px;
  font-weight: bold;
}
.job-view-company {
  font-size: 14px;
  font-weight: bold;
  color: #aaa;
}
.job-view-image {
  border: 3px solid var(--ph-blue);
  overflow: hidden;
}
.job-view-expbtn button,
.job-view-expbtn button:hover {
  background-color: transparent;
  border: 2px solid var(--ph-blue);
  color: var(--ph-blue);
  border-radius: 12px;
  width: 70%;
}
.job-view-button button {
  position: absolute;
  top: 0;
  right: 0.5rem;
}
